@page
@model _30333_Labs_Kravchenko.UI.Areas.Admin.Pages.EditModel
@{
    ViewData["Title"] = "Edit Medication";
}
<h1>Edit Medication</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medication.Id" />
            <div class="form-group">
                <label asp-for="Medication.Name" class="control-label"></label>
                <input asp-for="Medication.Name" class="form-control" />
                <span asp-validation-for="Medication.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Description" class="control-label"></label>
                <input asp-for="Medication.Description" class="form-control" />
                <span asp-validation-for="Medication.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.Manufacturer" class="control-label"></label>
                <input asp-for="Medication.Manufacturer" class="form-control" />
                <span asp-validation-for="Medication.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication.CategoryId" class="control-label"></label>
                <select asp-for="Medication.CategoryId" class="form-control" asp-items="@ViewData["CategoryId"] as SelectList"></select>
                <span asp-validation-for="Medication.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img img-action="GetAvatar" img-controller="Image" src="@Model.Medication.Image" alt="@Model.Medication.Name" style="max-width: 100px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}