@implements IDisposable
@rendermode InteractiveServer
@using _30333_Labs_Kravchenko.Blazor.Services
@using _30333_Labs_Kravchenko.Domain.Entities
@namespace _30333_Labs_Kravchenko.Blazor.Components.Layout.ProductComponents

<h3>Список препаратов</h3>

@if (ProductService.Products == null || !ProductService.Products.Any())
{
    <p>Нет данных для отображения</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ProductService.Products)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <button class="btn btn-outline-dark" @onclick="@(() => OnMedicationSelected(item))">
                            Подробно
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter]
    public IProductService<Medication> ProductService { get; set; }

    [Parameter]
    public EventCallback<Medication> MedicationSelected { get; set; }

    protected override void OnInitialized()
    {
        ProductService.ListChanged += StateHasChanged;
    }

    private async Task OnMedicationSelected(Medication medication)
    {
        await MedicationSelected.InvokeAsync(medication);
    }

    public void Dispose()
    {
        ProductService.ListChanged -= StateHasChanged;
    }
}