header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.card-img-top-fixed {
    height: 200px; /* Фиксированная высота изображения */
    width: 100%; /* Растягивает по ширине карточки */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
}