header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.card-img-top-fixed {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

.card-manufacturer {
    margin-top: auto;
    margin-bottom: 0;
}

.card-footer {
    text-align: center;
    padding: 0.5rem 1rem;
}